<!DOCTYPE html>
<html>
  <head>
    <title>about page</title>
  </head>
  <body>
    <h1 style='text-align: center;'>This is the about page!!</h1>
    <p>
      Welcome to my page. This is the about page. Here, you will learn about what this page is, on this here about page. Welcome.
    </p>
    <p>
      <a href='/'>Back to home page</a>
    </p>
  </body>
</html>