<!DOCTYPE html>
<html>
  <head>
    <title>Hello world</title>
  </head>
  <body>
    <h1 style='text-align: center;'>This is the home page</h1>
    <%= image_tag("home/cool-picture.jpg", width: '150px', alt: 'hey') %>
    <p>I am joey and I am..</p>
    <ul>
      <li>trying to work with html and css</li>
      <li>hoping to enjoy backend</li>
      <li>writing this list</li>
    </ul>
    <p>
      <a href="/about">This takes you to the about page</a>
    </p>
  </body>
</html>